NODE_ENV=development
PORT=5000
# Atlas example
MONGODB_URI=mongodb+srv://longnl2019_db_user:<your_password>@cluster0.wtbfygo.mongodb.net/final-project-ls-ecommerce?appName=Cluster0
# Local MongoDB example
# MONGODB_URI=mongodb://127.0.0.1:27017/final-project-ls-ecommerce
JWT_SECRET=change-this-secret
CLIENT_URL=http://localhost:5173,https://your-frontend.onrender.com
